h3 {
    text-align: center;
}

.friend-list {
    width: 100%;

}

.grid-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
    margin-top: 0px;
}

.friend-selected {
    border: 8px solid #1D77FF;
    width: 124px;
    height: 124px;
    cursor: pointer;
}

.friend-unselected {
    width: 140px;
    height: 140px;
    cursor: pointer;
}