button{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.family-box { 
    position: absolute;
    top: 112px;
    left: 12%; 
    height: calc(90% - 112px);
    overflow: auto;
}


.button-voice {
    background: #FFFFFF;
    border: 1px solid rgba(34, 34, 34, 0.4);
    border-radius: 100px;

    width: 235px;
    height: 48px
}

.button-call {
    width: 235px;
    height: 48px;
    margin-right: 20px;

    background: #FFFFFF;
    border: 1px solid rgba(34, 34, 34, 0.4);
    border-radius: 100px;

}

.button-call-active {
    width: 235px;
    height: 48px;
    margin-right: 20px;

    background: #32428b;
    border: 1px solid rgba(34, 34, 34, 0.4);
    border-radius: 100px;
    color: white;

}

.button-conents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 132px;
    height: 24px;
    left: 52px;
    top: 11px;
}

.search {
    position:absolute;
    width: 90%;
    top: 24px;
    height: 48px;
    left: 5%;

    background: #E5E5E5;
    border: 1px solid #E5E5E5;
    border-radius: 100px;
}


.buttons-container {
    position: absolute;
    bottom: 0px;
    /* left: calc(50% - 245px); */
    background-color: black; 
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* display: flex;
    justify-content: center; */
    /* margin: 0 auto; */
}


#close{
    position: absolute;
    top: 32px;
    left: 32px;
    cursor: pointer;
}
