button{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.family-box { 
    position: absolute;
    top: 110px;
    left: 0px; 
    width: 100%;
    height: calc(90% - 112px);
    overflow: auto;
}


.button-voice {
    background: #FFFFFF;
    border: 1px solid rgba(34, 34, 34, 0.4);
    border-radius: 100px;
     
    display: inline;
    padding: 10px 50px;

}

.button-call {
     
    display: inline;
    padding: 10px 50px;

    background: #FFFFFF;
    border: 1px solid rgba(34, 34, 34, 0.4);
    border-radius: 100px;

}

.button-call-active {
     
    display: inline;
    padding: 10px 50px;

    background: #32428b;
    border: 1px solid rgba(34, 34, 34, 0.4);
    border-radius: 100px;
    color: white;

}

.button-conents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 132px;
    height: 24px;
    left: 52px;
    top: 11px;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.search {
    width: 90%;
    height: 18px;
    padding: 20px;
    justify-content: center;

    background: #E5E5E5;
    border: 1px solid #E5E5E5;
    border-radius: 100px;
}


.buttons-container {
    position: absolute;
    top: 90%;
    width: 100%;
    margin-top: 20px;
    /* left: calc(50% - 245px); */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 0 auto; */
}

.button-icon {
    position: relative;
    top: 0.2em;
}

